<div id="customAlert-container" class="customAlert-top-full-width" aria-live="polite" role="alert">
    <div data-ng-click="remove(notification.id)"
         data-ng-class="['customAlert', 'customAlert-' + notification.type]" 
         data-ng-repeat="notification in notifications" 
         auto-close="{{notification.autoClose}}" 
         data-index="{{notification.id}}" 
         data-delay="{{notification.delay}}">
         <md-button class="close" 
                    ng-click="remove(notification.id)" 
                    data-ng-show="notification.closeable" 
                    class="md-raised md-primary">
                    Fechar
        </md-button>
        <div>
            <div class="toast-title" ng-bind-html="notification.title | trusted"></div>
            <div class="toast-message" ng-bind-html="notification.message | trusted"></div>
        </div>
    </div>
</div>