<alert></alert>
<md-toolbar class="contact-card" data-ng-init="init()">
    <div class="md-toolbar-tools">
        <h3>
            <div flex="" layout="column" class="layout-column flex">
                <md-list class="listdemoListControls">
                        <md-list-item class="noright">
                            <img alt="{{ user.name }}" ng-src="{{ user.avatar }}" class="md-avatar">
                            <p>{{ user.name }}</p>
                        </md-list-item>
                </md-list>
            </div>
        </h3>
        <span flex></span>
        <ANY>
            <md-button class="md-raised" 
                       data-ng-if="edit" 
                       data-ng-disabled="block" 
                       data-ng-click="user.unlock = true">
                        Editar
            </md-button>
            <md-button class="md-raised md-warn" 
                       data-ng-if="edit" 
                       data-ng-disabled="block" 
                       data-ng-click="remove()">
                       Excluir
            </md-button>
            <md-button class="md-raised" data-ng-click="back()">Voltar</md-button>
        </ANY>
    </div>
    <form name="pipzForm" ng-submit="validate($event, pipzForm)" novalidate>
        <div layout="column" ng-cloak class="ms-inline-form">
            <md-content class="md-no-momentum user-form">
                <md-input-container class="md-icon-float md-block">
                    <label>Name</label>
                    <input data-ng-model="user.name" name="name"
                           data-ng-disabled="!user.unlock" 
                           placeholder="Ex: John Papa"
                           md-maxlength="30"
                           maxlength="31"
                           data-ng-required="true">
                    <div ng-messages="pipzForm.name.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                        <div ng-message="md-maxlength">Esse campo deve conter menos de 30 characters.</div>
                    </div>
                </md-input-container>
            </md-content>

            <md-content class="md-no-momentum user-form">
                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <input data-ng-model="user.email" type="email" name="email"
                           data-ng-disabled="!user.unlock" 
                           placeholder="Ex: seu-email@provedor.com"
                           data-ng-maxlength="30"
                           maxlength="31"
                           ng-pattern="/^.+@.+\..+$/"
                           data-ng-required="true">
                    <div ng-messages="pipzForm.email.$error">
                        <div ng-message="required">Campo obrigatório..</div>
                        <div ng-message="maxlength">Esse campo deve conter menos de 30 characters.</div>
                        <div ng-message="pattern">Esse campo deve possuir o formato seu-email@provedor.com</div>
                    </div>
                </md-input-container>
            </md-content>

            <md-content class="md-no-momentum user-form">
                <md-input-container class="md-icon-float md-block">
                    <label>Phone</label>
                    <input ng-model="user.phone" type="tel" name="phone"
                           placeholder="Ex: (14) 99796-5493"
                           data-ng-maxlength="30"
                           maxlength="31"
                           ui-br-phone-number
                           pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4,5}$"
                           data-ng-disabled="!user.unlock">
                    <div ng-messages="pipzForm.phone.$error">
                        <div ng-message="maxlength">Esse campo deve conter menos de 30 characters.</div>
                        <div ng-message="pattern">Esse campo deve possuir o formato Ex: (14) 99796-5493</div>
                    </div>
                </md-input-container>
            </md-content>

            <md-content class="md-no-momentum user-form">
                <md-input-container class="md-icon-float md-block">
                    <label>Twitter</label>
                    <input ng-model="user.twitter" type="text" name="twitter"
                           placeholder="Ex: @julio_c.silva"
                           data-ng-maxlength="30"
                           maxlength="31"
                           pattern="^@[a-z0-9]+$" 
                           data-ng-disabled="!user.unlock">
                    <div ng-messages="pipzForm.twitter.$error">
                        <div ng-message="maxlength">Esse campo deve conter menos de 30 characters.</div>
                        <div ng-message="pattern">Esse campo deve possuir o formato Ex: @juliosilva</div>
                    </div>
                </md-input-container>
            </md-content>

            <md-content class="md-no-momentum user-form" data-ng-if="edit && user.unlock">
                <md-input-container class="md-icon-float dialog-demo-content" layout-wrap layout-margin layout-align="center">
                  <md-button type="submit" 
                              class="md-raised md-primary" 
                              data-ng-disabled="block || pipzForm.$invalid">
                              Atualizar
                    </md-button>
                </md-input-container>
            </md-content>

            <md-content class="md-no-momentum user-form" data-ng-if="!edit">
                <md-input-container class="md-icon-float dialog-demo-content" layout-wrap layout-margin layout-align="center">
                   <md-button type="submit" 
                              class="md-raised md-primary" 
                              data-ng-disabled="block || pipzForm.$invalid">
                              Salvar
                    </md-button>
                </md-input-container>
            </md-content>
        </div>
    </form>
</md-toolbar>